a {
  color: darkolivegreen;
}

h1 {
  color: darkolivegreen;
}

h2 {
  color: olive;
}

h3 {
  color: seagreen;
  margin-bottom: 0;
}

.sidebar{
  
}

.mainbar{

}
.phonology, tr:first-child  {font-weight: bold;}
.phonology, tr:nth-child(n+2) > td:first-child {color: olive;}
.phonology, tr:nth-child(n+2) > td:nth-child(4) {color: green;}

.pigeon {
  
}
