h2 {
  color: blue;
}

h3 {
  color: navy;
  margin-bottom: 0;
}

.phonology, tr:first-child  {font-weight: bold;}
.phonology, tr:nth-child(n+2) > td:first-child {color: purple;}
.phonology, tr:nth-child(n+2) > td:nth-child(4) {color: blue;}

img {
  justify-content: center;
  border-radius: 10%;
}
